{% extends "Menu/base.html" %}
{% load static %}

{% block link_css %}
<link rel="stylesheet" href=" {% static 'menu/food-detail.css' %}">
{% endblock %}
{% block title %}Food-detail{% endblock %}
{% block content %}
<div id="food-detail">
    <!-- Duyệt qua danh sách food_menu, với mỗi phần tử là (meal_time, danh sách món ăn) -->
       <div class="header"> <h1>{{ meal_time.name }}</h1> <!-- Hiển thị tên bữa ăn -->
        <a class="add" href="{% url 'add-menu' %}">Add Menu</a></div>
        {% for food in food_menu %}
            <div class="food-item">
                <img src="{{ food.image.url }}" alt="{{ food.name }}">
                <div class="block">
                <div>
                <h3>{{ food.name }}</h3>
                <p>{{ food.content }}</p>
                <span>{{ food.price }}</span>
                </div>
                <div class="block-icon">
                    <i class="fa-solid fa-ellipsis icon-option"></i>
                    <div class="block-icon_text">
                        <a href="{% url 'updata' food.id %}"><p>Updata</p></a>
                        <a href="{% url 'delete' food.id %}"><p>Delete</p></a>
                    </div>
                </div>
            </div>
            </div>
        {% endfor %}
</div>
<script>
let icons = document.querySelectorAll('.icon-option');

icons.forEach(function(icon) {
    // Đối tượng 'food-item' chứa mỗi phần tử cần xử lý
    let foodItem = icon.closest('.food-item');
    let optionText = foodItem.querySelector('.block-icon_text');
    
    if (icon && optionText) {
        icon.onclick = function() {
            // Ẩn tất cả các phần tử 'block-icon_text'
            document.querySelectorAll('.block-icon_text').forEach(function(el) {
                if (el !== optionText) {
                    el.style.display = 'none';
                }
            });

            // Chuyển trạng thái hiển thị của phần tử hiện tại
            if (optionText.style.display === 'none' || optionText.style.display === '') {
                optionText.style.display = 'block'; // Hiển thị phần tử hiện tại
            } else {
                optionText.style.display = 'none'; // Ẩn phần tử hiện tại
            }
        };
    } else {
        console.error('Phần tử không tồn tại');
    }
});
</script>
{% endblock %}